/* 
    Document   : main
    Created on : 20/08/2013, 02:22:40 PM
    Author     : johel
    Description:
        Purpose of the stylesheet follows.
*/

body{
}

.header-login{
    padding-top:0px;
}

header{
    padding-top:35px;
    background: repeat-x scroll left bottom #1E2D51;
    min-height: 48px;
}

header .titulo{
    color:#ffffff;
    line-height: 55px;
    font-size:16px;
    font-weight: bold;
}

/*custom font*/

.top{
    border-bottom:1px solid #D3D3D3;
    height:42px;
    padding:6px;
    font-size:18px;
    overflow:hidden;
}

.contenido{
    margin:5px;
}

.nav-stacked-seguridad li a{
    padding: 4px 10px;
    border-radius: 3px;
}

.font-size-xs{
    font-size:10px;
}

.pagination{
    margin-top:0px;
}

.paginado td:last-child{
    text-align: center;
    width:1%;
}

.paginado td:last-child .btn-group li{
    text-align: left;
}

.upper{
    text-transform: uppercase;
} 

.lower{
    text-transform: lowercase;
}

#img-loading{
    display:none;
}

.logo-plantel{
    width: 100%;
    height:160px;
}

.logo-plantel-wrapper{
    cursor: pointer;
    position:relative;
}

.logo-plantel-wrapper input[type=file]{
    border:1px solid red;
    width:100%;
    height:160px;
    float:left;
    position:absolute;
    top:0;
    opacity: 0;
    z-index:100;
    cursor:pointer;
}


